<!DOCTYPE html>
<html>

<head>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios -->
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-content v-if="current_view == 'cards'">
                <v-btn v-on:click="current_view='main'">Home</v-btn>
                <v-carousel>

                </v-carousel>
            </v-content>
            <v-content v-if="current_view == 'main'">
                <v-btn v-on:click="current_view = 'filters'">Start Searching</v-btn>
            </v-content>
            <v-content v-if="current_view == 'filters'" id="filters">
                <v-btn v-on:click="current_view='main'">Cancel</v-btn>
                <v-btn v-on:click="getRecipes">Let's Go</v-btn>
                <!--  -->
                <v-select :items="meal" label="Meal"   multiple v-model="mealSelect"> 
                </v-select>
                <!-- [[mealSelect]] -->
                <v-select :items="diet" label="Diet"   multiple v-model="dietSelect">
                </v-select>
                <!-- [[dietSelect]] -->
                <v-select :items="intolerances"  label="Intolerances"  multiple v-model="intolerancesSelect">
                </v-select>
                <!-- [[intolerancesSelect]] -->
                <v-select :items="cuisine"  label="Cuisine"  multiple v-model="cuisineSelect">
                </v-select>
            </v-content>

        </v-app>
    </div>

    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            delimiters: ['[[', ']]'],
            data: {
                current_view: 'main',
                meal: 
                    [{ text: 'Main Course', value: 'maincourse' },
                    { text: 'Breakfast', value: 'breakfast' },
                    { text: 'Dessert', value: 'dessert' },
                    { text: 'Side Dish', value: 'sidedish' },
                    { text: 'Appetizer', value: 'appetizer' },
                    { text: 'Salad', value: 'salad' },
                    { text: 'Bread', value: 'bread' },
                    { text: 'Soup', value: 'soup' },
                    { text: 'Finger Food', value: 'fingerfood' },
                    { text: 'Snack', value: 'snack' },
                    { text: 'Beverage', value: 'beverage' }],
                diet: 
                    [{ text: 'Gluten Free', value: 'glutenfree' },
                    { text: 'Ketogenic', value: 'ketogenic' },
                    { text: 'Vegetarian', value: 'vegetarian' },
                    { text: 'Lacto-Vegetarian', value: 'lacto-vegetarian' },
                    { text: 'Ovo-Vegetarian', value: 'ovo-vegetarian' },
                    { text: 'Vegan', value: 'vegan' },
                    { text: 'Pescetarian', value: 'pescetarian' },
                    { text: 'Paleo', value: 'paleo' },
                    { text: 'Primal', value: 'primal' },
                    { text: 'Whole30', value: 'whole30' }],
                intolerances: 
                    [{ text: 'Dairy', value: 'dairy' },
                    { text: 'Egg', value: 'egg' },
                    { text: 'Gluten', value: 'gluten' },
                    { text: 'Grain', value: 'grain' },
                    { text: 'Peanut', value: 'peanut' },
                    { text: 'Seafood', value: 'seafood' },
                    { text: 'Sesame', value: 'sesame' },
                    { text: 'Shellfish', value: 'shellfish' },
                    { text: 'Soy', value: 'soy' },
                    { text: 'Sulfite', value: 'sulfite' },
                    { text: 'Tree Nut', value: 'treenut' },
                    { text: 'Wheat', value: 'wheat' },],
                cuisine:
                    [{ text: 'African', value: 'african' },
                    { text: 'American', value: 'american' },
                    { text: 'British', value: 'british' },
                    { text: 'Cajun', value: 'cajun' },
                    { text: 'Caribbean', value: 'caribbean' },
                    { text: 'Chinese', value: 'chinese' },
                    { text: 'Eastern European', value: 'easterneuropean' },
                    { text: 'European', value: 'european' },
                    { text: 'French', value: 'french' },
                    { text: 'German', value: 'german' },
                    { text: 'Greek', value: 'greek' },
                    { text: 'Indian', value: 'indian' },
                    { text: 'Irish', value: 'irish' },
                    { text: 'Italian', value: 'italian' },
                    { text: 'Japanese', value: 'japanese' },
                    { text: 'Jewish', value: 'jewish' },
                    { text: 'Korean', value: 'korean' },
                    { text: 'Latin American', value: 'latinamerican' },
                    { text: 'Mediterranean', value: 'mediterranean' },
                    { text: 'Mexican', value: 'mexican' },
                    { text: 'Middle Eastern', value: 'middleeastern' },
                    { text: 'Nordic', value: 'nordic' },
                    { text: 'Southern', value: 'southern' },
                    { text: 'Spanish', value: 'spanish' },
                    { text: 'Thai', value: 'thai' },
                    { text: 'Vietnamese', value: 'vietnamese' },
                    ],
                mealSelect:[],
                dietSelect:[],
                intolerancesSelect:[],
                cuisineSelect:[],
                recipes:[],
                cards: []
                

            },
            methods: {
                getRecipes: function () {
                    axios({
                        method: 'get',
                        url: "{% url 'fudr:recipes' %}",
                        params: {
                            type: this.mealSelect,
                            diet: this.dietSelect,
                            intolerances: this.intolerancesSelect,
                            cuisine: this.cuisineSelect
                        },
                    }).then(response => {
                        this.recipes = response.data.recipes
                        this.current_view ='cards'
                        this.mealSelect = []
                        this.dietSelect=[]
                        this.intolerancesSelect=[]
                        this.cuisineSelect=[]
                        this.makeCards()
                    })
                },
                makeCards: function () {
                    this.cards = []
                    for (let i=0; i<this.recipes.length; ++i) {
                        axios({
                            method: 'get',
                            url: "{% url 'fudr:cards' %}",
                            data: {
                                title: this.recipes[i].title
                            }
                        }).then(response => {
                            console.log(response.data)
                            // this.cards.push(??????)
                        })
                    }
                }

            },
            created: {

            }
        })
    </script>
</body>

</html>