<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <v-app>
    <h1>Register</h1>
    {% if message == 'already_taken' %}<span>That username is already taken</span>{% endif %}
    <form action="{% url 'fudr:register_user' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <input type="text" name="email" placeholder="email" />
      <input type="file" name="image" placeholder="image" accept="image/*" />
      <button type="submit">register</button>
    </form>
    <a href="{% url 'fudr:login' %}">login</a>
  </v-app>
</body>

</html>